/**
 * drag-n-drop stuff styles file
 *
 * @author Viacheslav Lotsmanov
 */

.thumbnail.thumbnail-drop-delete-zone
	display inline-block
	margin-bottom $padding-base-vertical
	
	padding-left $padding-base-horizontal
	padding-right $padding-base-horizontal
	
	padding-top $padding-base-vertical
	padding-bottom $padding-base-vertical
	
	transition all 0.5s ease
	
	&.drop-over
		background $btn-danger-bg
		color $btn-danger-color
		border-color $btn-danger-border
