/**
 * main admin panel styles file
 *
 * @author Viacheslav Lotsmanov
 */

$static-path = '/static/'
$icon-font-path = pathjoin($static-path, 'icons-fonts/')

@require 'bootstrap'
@require 'nib'

html, body
	height 100%

@media (min-width $screen-md-min)
	.v-stretchy
		height 100%

.loading
	@import 'view/loading'

.fatal-error
	@import 'view/fatal-error'

.login-form
	@import 'view/login-form'

.panel-view
	@import 'view/panel'
