/**
 * ordering fields styles
 *
 * @author Viacheslav Lotsmanov
 */

th.ordering-column span
th.ordering-column.ordering-column--asc span:after
th.ordering-column.ordering-column--desc span:after
	display inline-block

th.ordering-column.ordering-column--asc span:after
	content '\25B2'

th.ordering-column.ordering-column--desc span:after
	content '\25BC'
