.row.clearfix
	.col-md-4.column
	.col-md-4.column
		.text-center
			h1= local.get('page_title')
		form(role="form")
			.message
			.form-group
				label
					span= local.get('sections').login_form.username
					=' '
					input.form-control(type="text", name="user")
			.form-group
				label
					span= local.get('sections').login_form.password
					=' '
					input.form-control(type="password", name="pass")
			button.btn.btn-primary
				= local.get('sections').login_form.enter
	.col-md-4.column
