/**
 * button mixin file
 *
 * @author Viacheslav Lotsmanov
 */

button-mixin($big=false)
	reset-box-model()
	display inline-block
	height 25px
	background $bg-invert-color
	color $text-invert-color2
	font-family $font-family
	font-metrics 14px 16px
	padding 4px 10px 0
	box-sizing border-box
	cursor pointer
	border-radius 5px
	background linear-gradient(top, #fffcc1, #f2c54e, #fffcc1)
	background-size 100% 200%
	background-position 0 0
	transition background-position $animation-speed $animation-curve
	
	&:hover
		background-position 0 -100%
	
	if $big
		height 35px
		font-metrics 20px 22px
		padding 6px 25px 0
