/**
 * colorbox styles
 *
 * @author Viacheslav Lotsmanov
 */

#colorbox, #cboxOverlay, #cboxWrapper
	absolute left 0 top 0
	z-index 9999

#cboxOverlay
	fixed auto
	size 100%
	background alpha(#777, 70%)

#cboxContent
	relative auto

#cboxLoadedContent
	overflow auto
	-webkit-overflow-scrolling: touch;

#cboxLoadingOverlay, #cboxLoadingGraphic
	absolute left 0 top 0
	size 100%
	
	&:before
		$s = 100px
		pseudo-block('Loading...')
		size $s
		border-radius ($s/2)
		background linear-gradient(top, white, #ccc)
		box-shadow 0 0 0 $b alpha(black, 20%)
		absolute left 50% top 50%
		transform translateX(-50%) translateY(-50%)
		color alpha($text-invert-color2, 70%)
		white-space nowrap
		text-align center
		box-sizing border-box
		font-metrics 12px 18px
		font-weight bold
		padding-top 40px
		
		html[lang=ru] &
			content 'Загрузка...'

#cboxContent, #cboxLoadedContent
	box-sizing content-box

#cboxLoadedContent
	background white
	padding 10px

#cboxTitle
	absolute left 50% top 100%
	margin-top 10px
	font-metrics 12px 18px
	font-weight bold
	background alpha(black, 70%)
	border-radius 6px
	padding 5px 10px
	z-index 99999
	transform translateX(-50%)

#cboxPrevious, #cboxNext, #cboxClose
	reset-box-model()
	display block
	cursor pointer

#cboxPrevious, #cboxNext, #cboxClose
	$s = 40px
	$b = 4px
	
	size $s
	background linear-gradient(top, white, #ccc)
	border-radius ($s/2)
	font-metrics 0 0
	white-space nowrap
	text-indent -40000px
	transform translateY(-50%)
	box-shadow 0 0 0 $b alpha(black, 20%)
	z-index 100
	opacity 1
	transition opacity 0.5s linear
	
	&:hover
		opacity 1
	
	&:after
		pseudo-block()
		size $s
		border-radius ($s/2)
		absolute left 0 top 0
		background-position center center
		background-repeat no-repeat
		background-size 45% 55%
		opacity 0.7
		z-index 0

$cbox-list-but-X = -15px

#cboxPrevious
	absolute left $cbox-list-but-X top 50%
	z-index 1
	
	&:after
		bg-img('gallery/left-arrow.svg')
		background-position 40% 50%

#cboxNext
	absolute right $cbox-list-but-X top 50%
	z-index 2
	
	&:after
		bg-img('gallery/right-arrow.svg')
		background-position 55% 50%

#cboxClose
	$s = 24px
	
	size $s
	border-radius ($s/2)
	opacity 1
	absolute left 100% top 0
	margin-left (-($s/2))
	
	&:after
		size $s
		border-radius ($s/2)
		absolute left 0 top 0
		bg('gallery/close.svg', 49% 50% no-repeat)
		background-size 57% 50%
		opacity 0.7
		z-index 0
