/**
 * forms styles
 *
 * @author Viacheslav Lotsmanov
 */

html.form-popup body
	overflow hidden

body > form
	display none
	opacity 0
	fixed left 50% top 50%
	background $bg-invert-color
	size 270px auto
	z-index 200
	transform translate(-50%, -50%)
	padding (37px - 19px) 36px 22px 30px
	box-sizing border-box
	color $text-invert-color
	border-radius 12px
	transition height 0.5s $animation-curve

	$border-color = #d3d3d3

	h2
		font-metrics 21px 23px
		padding-bottom 20px

	.closer
		$w = 16px
		$h = 16px

		reset-box-model()
		display block
		absolute right 8px top 8px
		color transparent
		background transparent
		size $w $h
		font-metrics 0 0
		overflow hidden
		cursor pointer

		&:before
			pseudo-block()
			absolute top 0 right 0
			bg('form-closer.svg', center center no-repeat)
			size $w $h

	label.text > input, label.number > input
		reset-box-model()
		display block
		backgroun white
		border 1px solid $border-color
		size 100% 31px
		box-sizing border-box
		padding 6px
		font $font
		font-metrics 15px 17px
		color black

	label.text + label.text > input
		margin-top 8px

	label.submit
		$h = 35px

		display inline-block
		relative auto
		cursor pointer

		&:after
			pseudo-block()
			size 100% $h
			bg('spinner.png', center center no-repeat)
			absolute left 0 bottom 0
			z-index 250
			opacity 0
			transition opacity $animation-speed $animation-curve

		input[type=submit]
			reset-box-model()
			display inline-block
			size auto $h
			padding 0 15px
			box-sizing border-box
			color white
			font $font
			font-metrics 14px 19px
			border-radius 10px
			cursor pointer
			margin-top 22px
			background linear-gradient(top, #dc6a0d, #a04300, #dc6a0d)
			background-size 100% 200%
			background-position 0 0
			opacity 1
			transition background-position $animation-speed $animation-curve,
				color $animation-speed $animation-curve,
				opacity $animation-speed $animation-curve

			&:hover
				background-position 0 -100%

	&.ajax-process
		label.submit:after
			opacity 1
		label.submit input[type=submit]
			color alpha(white, 0%)
			opacity 0.7

	input[placeholder]
		text-overflow ellipsis

	label
		display block
		relative auto

		input
			transition border-color 0.5s $animation-curve

		.err-msg
			display block
			background alpha(white, 60%)
			color red
			font $font
			font-metrics 11px 13px
			box-sizing border-box
			padding 4px
			absolute top 100% left 0
			white-space nowrap
			z-index 210
			opacity 0

			& + input
				border-color red

	.success-msg
		display block
		font $font

	label.date
		display block
		margin-top 9px
		relative auto
		cursor pointer

		&:before
			pseudo-block()
			size 19px 22px
			bg('calendar.svg', center center no-repeat)
			absolute left 0 top 5px

		input
			reset-box-model()
			display block
			background $bg-invert-color
			color $text-invert-color
			font $font
			font-weight bold
			padding 4px 4px 4px 25px
			width 100%
			box-sizing border-box
			cursor pointer

	.time
		display block
		margin-top 4px

		& > span
			font $font
			font-weight bold
			vertical-align middle
			margin-right 12px
			padding-left 25px
			relative auto

			&:before
				pseudo-block()
				size 19px 20px
				bg('clock.svg', center center no-repeat)
				absolute left 0 top -1px

		label.number
			display inline-block
			width 50px
			vertical-align middle
			relative auto

			& + label.number
				margin-left 15px

				&:before
					pseudo-block(':')
					font $font
					absolute left -10px top 3px

body > .form-overlay
	display block
	fixed left 0 top 0
	size 100%
	background alpha(black, 60%)
	z-index 190
	opacity 0

form#order-form
	width 300px
