/**
 * forms styles
 *
 * @author Viacheslav Lotsmanov
 */

html.form-popup body
	overflow hidden

body > form
	display none
	opacity 0
	fixed left 50% top 50%
	background $bg-invert-color
	size 270px 210px
	z-index 200
	transform translate(-50%, -50%)
	padding (37px - 19px) 36px 0 30px
	box-sizing border-box
	color $text-invert-color
	border-radius 12px

	$border-color = #d3d3d3

	h2
		font-metrics 21px 23px
		padding-bottom 20px

	.closer
		$w = 16px
		$h = 16px

		reset-box-model()
		display block
		absolute right 8px top 8px
		color transparent
		background transparent
		size $w $h
		font-metrics 0 0
		overflow hidden
		cursor pointer

		&:before
			pseudo-block()
			absolute top 0 right 0
			bg('form-closer.svg', center center no-repeat)
			size $w $h

	label.text > input
		reset-box-model()
		display block
		backgroun white
		border 1px solid $border-color
		size 100% 31px
		box-sizing border-box
		padding 6px
		font $font
		font-metrics 15px 17px
		color black

	label.text + label.text > input
		margin-top 8px

	input[type=submit]
		$h = 35px
		reset-box-model()
		display block
		background linear-gradient(top, #dc6a0d, #a04300)
		size auto $h
		padding 0 15px
		box-sizing border-box
		color white
		font $font
		font-metrics 14px 19px
		border-radius 10px
		cursor pointer
		margin-top 22px

	input[placeholder]
		text-overflow ellipsis

	label
		display block
		relative auto

		input
			transition border-color 0.5s $animation-curve

		.err-msg
			display block
			background alpha(white, 60%)
			color red
			font $font
			font-metrics 11px 13px
			box-sizing border-box
			padding 4px
			absolute top 100% left 0
			white-space nowrap
			z-index 210
			opacity 0

			& + input
				border-color red

body > .form-overlay
	display block
	fixed left 0 top 0
	size 100%
	background alpha(black, 60%)
	z-index 190
	opacity 0
