label
	span= local.get('sections')[section].form[name].title
	=' '
	input(type="file", multiple)

- var value = ''
if values[name]
	- var value = values[name]
input(type="hidden", name=name, value=value)

span= local.get('sections')[section].form[name].uploaded_earlier
ul.js-uploaded-earlier-list.list-group
