h1= local.get('sections')[section].title[type]
.js-error-region
.fields
.actions
	input.btn.btn-default.btn-success(
		type="submit",
		value=local.get('sections')[section].save)
	=' '
	button.cancel.btn.btn-default
		= local.get('sections')[section].cancel
