*.gz
*.tar
*.bz2
*.zip
*.rar
*.sql

# python
*.pyc
__pycashe__
tornadomail
config.yaml
.rope*
# python virtual environment
.venv*
.avto-lux

# node
node_modules
front-end-gulp

static/**/*build.css
static/**/*build.js
static/tmp

# todo symbolic links via deploy task
uploaded
