*.gz
*.tar
*.bz2
*.zip
*.rar
*.sql
*.log

# python
*.pyc
__pycashe__
tornadomail
config.yaml
.rope*
# python virtual environment
.venv*
.avto-lux
TMP
log.txt

# node
node_modules
bower_components
front-end-gulp

static/**/*build.css
static/**/*build.js
static/client-build.css
static/client-build.js
static/admin-build.css
static/admin-build.js
static/tmp
images_sizes.txt

# todo symbolic links via deploy task
files/uploaded

