DEV_SERVER:
  PORT: 8002
  HOST: '127.0.0.1'

PRODUCTION_SERVER:
  INSTANCES: 4
  HOST: '127.0.0.1'
  MAIN_PORT: 8016

DATABASE:
  HOST: 'localhost'
  PORT: ''
  DBNAME: 'avtolux'
  USER: 'avtolux'
  PASS: 'avtolux'
  TABLE_NAME_PREFIX: 'avtolux_'

TEMPLATES_PATH: './templates'
STATIC_PATH: './static'

UPLOAD_FILES_PATH: ''

IMAGE_TMP_PATH: ''
IMAGE_PERM_PATH: ''

IMAGE_SIZES:
  ITEM:
    BIG: 468
    SMALL: 284
  ITEM_PHOTOES:
    BIG: 1200
    SMALL: 284

MAIL:
  SMTP_PROVIDER:
    PORT: 587
    HOST: 'smtp.gmail.com'
  MAIN_RECIPIENT: 'username@gmail.com'
  USER: 'username'
  PASS: '******'

LOCALIZATION:
  LANG: 'ru'
  SOURCES:
    CLIENT: 'static/client-local.json'
    ADMIN: 'static/admin-local.json'

AUTO_RELOAD: 0
XSRF: 0
