.panel-heading= local.get('sections').catalog.subsections_list
table.table
	thead
		tr
			th= local.get('sections').catalog.id
			th= local.get('sections').catalog.name
			th= local.get('sections').catalog.elements_count
	tbody
