#login-form.container
	.row.clearfix
		.col-md-4.column
		.col-md-4.column
			.text-center
				h1= title
			form(role="form")
				.alert.alert-danger(role="alert")
					span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
					span.sr-only Ошибка:
					=' '
					| Некорректный логин или пароль
				.form-group
					label
						span Логин
						input.form-control(type="text", name="user")
				.form-group
					label
						span Пароль
						input.form-control(type="password", name="pass")
				button.btn.btn-primary Войти
		.col-md-4.column
