if multiple
	.input-group
		span.moveit.glyphicon.glyphicon-move.input-group-addon
		textarea.form-control= value
		.input-group-btn
			div
				button.del.btn.btn-danger(title=local.get('forms').data_fields.del)
					span.glyphicon.glyphicon-minus
			div
				button.add.btn.btn-success(title=local.get('forms').data_fields.add)
					span.glyphicon.glyphicon-plus
else
	textarea.form-control= value
