/**
 * catalog pages styles
 *
 * @author Viacheslav Lotsmanov
 */

@import 'button-mixin'
@import 'margin-mixin'

.catalog-page
	$w = 284px
	$margin-X = 43px
	$sections-p = 31px
	$detail-p = 15px

	display block

	main
		display block

	&.sections
		margin $content-margin-Y ($margin-X - $sections-p) $content-margin-Y $margin-X

		h1
			padding-right $sections-p

		main ul.catalog-sections
			reset-box-model()
			display block
			size 100% auto
			padding-top (28px - 6px)

			& > li
				reset-box-model()
				display inline-block
				margin-right $sections-p
				vertical-align top

				&:before
					display none

				a
					display block
					size $w auto
					border-bottom 0
					text-align center
					overflow hidden

					span
						display inline
						font $font
						border-bottom 1px solid $link-text-color
						transition border-bottom-color $animation-speed $animation-curve

						&:before
							pseudo-block()
							height 14px

						&:after
							pseudo-block()
							height 24px

					&:hover > span
						border-bottom-color $link-hover-text-color

					img
						display block
						size $w auto
						border-radius 10px

	&.detail
		margin $content-margin-Y ($margin-X - $detail-p) $content-margin-Y $margin-X

		h1
			font-metrics 21px 23px
			padding-right $detail-p

		main
			.order
				button-mixin(true)
				margin-top 20px

			.catalog-detail-item
				display block
				margin-top 21px

				img.big-pic
					display block
					float left
					margin-bottom 32px
					margin-right 45px
					border-radius 10px

				.description
					display block
					margin-bottom 32px
					padding-right $detail-p
					font $font
					margin-mixin()

				ul.photos
					reset-box-model()
					display block

					&:before
						pseudo-block()
						clear both

					& > li
						reset-box-model()
						display inline-block
						size $w auto
						margin $detail-p $detail-p 0 0

						&:before
							display none

						img
							display block
							size $w auto
							border-radius 10px
