{% extends 'layout.html' %}
{% block 'page-specific' %}
<div class="catalog-page detail">
	<div class="content">
		{% if seo_title %}
			<h1>{{ seo_title }}</h1>
		{% else %}
			<h1>{{ title }}</h1>
		{% end %}
		<main>
			<a class="order" href="#order-form">Сделать заказ</a>
			<div class="catalog-detail-item">
				<img class="big-pic" alt="Фото Тойота Камри" src="{{ main_image }}">
				<div class="description">
					{% autoescape None %}
					{{ desctiption_text }}
				</div><!--TODO rename-->
				<ul class="photos">
					{% for item in images %}
						<li>
							<a href="{{ item['filename'] }}" title="{{ title }}">
								<img alt="Фото {{ title }}" src="{{ item['filename'] }}">
							</a>
						</li>
					{% end %}
				</ul>
			</div>
		</main>
	</div>
</div>
{% end %}
