{% extends 'layout.html' %}
{% block 'page-specific' %}
<div class="content-page">
	<ul class="cars left">
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/1.jpg')}} "/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/2.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/3.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/4.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/5.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/left/6.jpg')}}"/></li>
	</ul>
	<div class="content">
		{% if is_h1_show %}
			{% if seo_title %}
				<h1>{{ seo_title }}</h1>
			{% else %}
				<h1>{{ title }}</h1>
			{% end %}
		{% end %}
		<main>
			{% if content_text %}
				{% autoescape None %}
				{{ content_text }}
			{% end %}
			{% if error_msg_list %}
				<ul class="error-messages">
					{% for msg in  error_msg_list %}
						<li>{{ msg }}</li>
					{% end %}
				</ul>
			{% end %}
			{% if success_msg_list %}
				<ul class="success-messages">
					{% for msg in  success_msg_list %}
						<li>{{ msg }}</li>
					{% end %}
				</ul>
			{% end %}
			{% block 'content'%}
			{% end %}
		</main>
	</div><!--.content-->
	<ul class="cars right">
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/1.jpg')}} "/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/2.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/3.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/4.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/5.jpg')}}"/></li>
		<li><img alt="" src="{{static_url('images/content/cars-rows/right/6.jpg')}}"/></li>
	</ul>
</div><!--.content-page-->
{% end %}
