extends content-page

block content
	p Введен неверный адрес, или такой страницы больше нет. Приносим свои извинения за неудобство.
	img(alt="", src=static_url('tmp/404_bg.jpg'))
	p
		| Посетите
		=' '
		a(href="http://avto-lux161.ru/") avto-lux161.ru
