if has_footer_slogan
	.aphorism-block
		.aphorism-text
			blockquote!= footer_slogan

.contacts
	- var phone = get_nonrel_val('phones', 'footer')
	a.phone(href=get_phone_link(phone))= phone
	=' '
	- var email = get_nonrel_val('email', 'footer')
	a.email(href='mailto:'+email)= email
.developer
	img(alt='Логотип &laquo;Веб измерение&raquo;' src=static_url('images/web-izmerenie-logo.svg'))
	| Сделано в студии
	=' '
	a(href="http://web-izmerenie.ru" target="_blank") Web izmerenie
