if has_footer_slogan
	.aphorism-block
		.aphorism-text
			blockquote= footer_slogan

.contacts
	a.phone(href="tel:+79889993989") +7 988 999 39 89
	=' '
	a.email(href="mailto:avto-lux161@yandex.ru") avto-lux161@yandex.ru
.developer
	img(alt='Логотип &laquo;Веб измерение&raquo;' src=static_url('images/web-izmerenie-logo.svg'))
	| Сделано в студии
	=' '
	a(href="http://web-izmerenie.ru" target="_blank") Web izmerenie
