form#call-me-form(action="/api/forms/", method="post")
	h2 Заказать звонок
	input(type="hidden", name="action", value="call")
	label.text
		input(type="text", name="name", value="", placeholder="Имя")
	label.text
		input(type="tel", name="phone", value="", placeholder="Телефон")
	// for bots
	input(type="text", name="message", value="", style="display:none;", class="b")
	input(type="submit", value="Отправить")
