form#call-me-form(action="/api/forms/", method="post")
	h2 Заказать звонок
	input(type="hidden", name="action", value="call")
	label.text
		input(type="text", name="name", value="", placeholder="Имя")
	label.text
		input(type="tel", name="phone", value="", placeholder="Телефон")
	// for bots
	input(type="text", name="message", value="", style="display:none;", class="b")
	input(type="submit", value="Отправить")

form#order-form(action="/api/forms/", method="post")
	h2='Сделать заказ ' + page_title
	input(type="hidden", name="action", value="order")
	label.text
		input(type="text", name="name", value="", placeholder="Имя")
	label.text
		input(type="tel", name="callback", value="", placeholder="Телефон или E-mail")
	label.date
		input(type="date", name="date", value="", placeholder="Дата")
	div.time
		span Время
		label.number
			input(type="number", name="hours", value="0", maxlength="2", placeholder="Часы")
		label.number
			input(type="number", name="minutes", value="0", maxlength="2", placeholder="Минуты")
	// for bots
	input(type="text", name="message", value="", style="display:none;", class="b")
	input(type="submit", value="Отправить")
