.contacts
	a.phone(href="tel:+79889993989") +7 988 999 39 89
	=' '
	a.email(href="mailto:luxxavto@yandex.ru") Avto-lux161@yandex.ru
.developer
	img(alt='Логотип &laquo;Веб измерение&raquo;' src=static_url('images/web-izmerenie-logo.svg'))
	| Сделано в студии
	=' '
	a(href="http://web-izmerenie.ru" target="_blank") Web izmerenie
