!!! 5
html(lang="ru")
	head
		title Авто Люкс — аренда и прокат автомобилей с водителем. Заказ микроавтобусов.
		link(href=static_url('build.css'), type="text/css", rel="stylesheet")
		script(src=static_url('build.js'), type="text/javascript")
	body
		div(class="top-block")
			header
				div(class="head-block")
					//
				nav(class="catalog-menu")
					//

		footer.
			111
