!!! 5
html(lang="ru")
	head
		title.
			Авто Люкс — аренда и прокат автомобилей с водителем.
			Заказ микроавтобусов.
		link(href=static_url('build.css'), type="text/css", rel="stylesheet")
		script(src=static_url('build.js'), type="text/javascript")
	body
		div.top-block
			header
				div.head-block
					div.right-part
						a(href="/", title="На главную страницу")
							img(alt="Авто Люкс логотип", src=static_url('images/logo.png'))
						div.slogan.
							Аренда и прокат автомобилей<br>
							Заказ микроавтобусов
						ul.phones
							li +7(863) 270 66 20
							li +7(988) 999 39 89
						button.call_me Заказать звонок
						nav.main-menu
							ul
								li
									a(href="#about-company") О компании
								li
									span Стоимость услуг
								li
									a(href="#contacts") Контактная информация
								li
									a(href="#wedding-advices") Свадебные советы молодоженам
				div.catalog-menu
					nav
						ul
							li
								span
									span Аренда автомобиля
							li.active
								a(href="#bus")
									span Аренда микроавтобуса
							li
								a(href="#wedding")
									span Свадебные укражения
		footer
			div.contacts
				a.phone(href="tel:+79889993989") +7 988 999 39 89

				// f**k this shit
				a.email(href="mailto:luxxavto@yandex.ru") Avto-lux161@yandex.ru
			div.developer
				img(alt='Логотип "Веб измерение"' src=static_url('images/web-izmerenie-logo.svg'))
				| Сделано в студии
				a(href="http://web-izmerenie.ru" target="_blank") Web izmerenie
