/**
 * Form View styles
 *
 * @author Viacheslav Lotsmanov
 */

& > h1:first-child
	margin-top 0
	padding-bottom 15px

label
	display block
	& + label
		margin-top 20px

label.checkbox
	margin-left 20px

label.text
	max-width 500px

label.html textarea
	height 300px

label.select span
	display block

label.files
	input
		margin-top 15px
	.upload-area
		margin-top 15px
		ul.upload-list
			min-height 100px
			margin-bottom 0
			list-style none
		.panel-body
			transition background-color 0.5s linear
		&.fileover .panel-body
			background #eaeaea

.actions
	padding-top 15px
