/**
 * Form View styles
 *
 * @author Viacheslav Lotsmanov
 */

& > h1:first-child
	margin-top 0
	padding-bottom 15px

label
	display block

label.checkbox
	margin-left 20px

label.text
	max-width 400px

.actions
	padding-top 15px
