/**
 * Form View styles
 *
 * @author Viacheslav Lotsmanov
 */

& > h1:first-child
	margin-top 0
	padding-bottom 15px

label
	display block

label + label, label + div
	margin-top 20px

label.checkbox
	margin-left 20px

label.text, label.password
	max-width 500px

label.html textarea
	height 300px

label.select span
	display block

label.files
	input
		margin-top 15px
	.upload-area
		margin-top 15px
		ul.upload-list
			min-height 100px
			margin-bottom 0
			list-style none
		.panel-body
			transition background-color 0.5s linear
		&.fileover .panel-body
			background #eaeaea

div.data-fields
	ul > li label + label
		margin-top 0
	ul > li label + ul
		margin-top 15px
	ul > li ul
		margin-bottom 15px

	textarea
		width 100%
		height 200px
		min-height 100px
		max-width 100%
		resize vertical

	.moveit
		cursor move

	.add-new-field
		margin-top -5px
		margin-bottom 10px

	.add-area + .del-area
		margin-top 15px

li.ui-sortable-helper
	cursor move

.actions
	padding-top 15px
