/**
 * Loading View styles
 *
 * @author Viacheslav Lotsmanov
 */

&
	display table
	@media (min-width $screen-md-min)
		size 100%

	.wrap
		display table-cell
		white-space nowrap
		text-align center
		vertical-align middle
