/**
 * LoginForm View styles
 *
 * @author Viacheslav Lotsmanov
 */

// vertical centering
@media (min-width $screen-md-min)
	&
		height 100%
		text-align center

	.row
		height 100%
		text-align center

	.col-md-4.column
		display inline-block
		width 33%
		vertical-align middle
		float none
		text-align left

		&:first-child
			display inline-block
			height 100%

form
	$p = 10px
	padding-top $p
	padding-bottom $p

	label
		width 100%

h1
	font-size inherit
	line-height inherit
	font-weight bold
