/**
 * Panel View styles
 *
 * @author Viacheslav Lotsmanov
 */

&
	margin-bottom 0

& > .col
	box-sizing border-box
	padding-top 20px

& > .col:first-child
	padding-bottom 0
	
	@media (min-width $screen-md-min)
		padding-bottom 20px

&, & > .col, & > .col > .work-area
	box-sizing border-box
	
	@media (min-width $screen-md-min)
		height 100%

& > .col > .work-area
	.form
		padding-bottom 20px
	
	.header h1
		margin-top 0
