/**
 * Panel View styles
 *
 * @author Viacheslav Lotsmanov
 */

&
	margin-bottom 0

& > .col
	padding-top 20px

	@media (min-width $screen-md-min)
		padding-bottom 20px

&, & > .col, & > .col > .work-area
	box-sizing border-box

	@media (min-width $screen-md-min)
		height 100%
