.col-md-3
	nav.panel-menu.affix-top
		ul.nav.nav-pills.nav-stacked
			li
				a(href="#panel/pages") Статические страницы
			li
				a(href="#panel/catalog") Каталог
			li
				a(href="#panel/redirects") Редиректы
			li
				a(href="#logout") Выход
.col-md-9
	.work-area
