span= local.get('sections')[page].form[name].title
=' '
input(type="file", name=name)
.upload-area.panel.panel-default
	.panel-heading= local.get('sections')[page].form[name].dragndrop_here
	.panel-body
		ul.upload-list.list-group
