span= local.get('sections')[page].form[name]
=' '
- var value = ''
if values[name]
	- var value = values[name]
select.selectpicker(name=name)
	each item in list_values
		if value
			option(value=item.value, selected)= item.title
		else
			option(value=item.value)= item.title
