/**
 * header styles
 *
 * @author Viacheslav Lotsmanov
 */

@require 'button-mixin'

.head-block
	display block
	min-height $head-block-min-height
	bg('header-bg.jpg', 40% 0 no-repeat $bg-color)

.right-part
	display block
	margin-left -73px
	width 300px
	relative left 72%
	padding-top 30px
	padding-bottom 30px

	img
		display block
		relative left -25px

	.slogan
		display block
		font-metrics 18px 23px
		margin-top (37px - 23px)
		color $text-color2

	ul.phones
		display block
		margin-top: 10px

		&>li
			display block
			font-metrics 24px 32px

	button.call_me
		button-mixin()
		margin-top 10px

	nav.main-menu
		display block
		margin-top 10px

		ul > li
			$h = 28px
			$lh = (($h/2) + 2px)
			$pX = (($h - $lh) / 2)

			display block
			font-metrics 14px $lh
			padding $pX 0

.catalog-menu
	@require 'catalog-menu'
