/**
 * main styles file
 *
 * @author Viacheslav Lotsmanov
 */

@require 'nib'

@require 'variables'
@require 'mixins'

global-reset()
reset-html5()

html, body
	reset-box-model()
	font-metrics 0 0
	height 100%

body
	background $bg-color
	color $text-color
	min-width $min-width
	font-family $font-family

.top-block
	display block
	margin 0 auto
	min-height 100%
	max-width $max-width

	header
		@require 'header'

	&:after
		pseudo-block()
		height $footer-height
		clear both

footer
	@require 'footer'

a
	color $link-text-color
	transition color $animation-speed $animation-curve,
		border-bottom-color $animation-speed $animation-curve
	text-decoration none
	border-bottom 1px solid $link-line-color

	&:hover
		color $link-hover-text-color
		border-bottom-color $link-hover-line-color

@require 'page-specific/content'
