/**
 * variables file
 *
 * @author Viacheslav Lotsmanov
 * @license GNU/AGPLv3
 * @see {@link https://github.com/web-izmerenie/avto-lux161/blob/master/LICENSE-AGPLv3|License}
 */

$revision = 1

// paths {{{1

$rev-qs = '?v=' + $revision
$root-path = '/static/'
$images-path = pathjoin($root-path, 'images')
$fonts-path = pathjoin($root-path, 'fonts')
$icons-path = pathjoin($images-path, 'icons')
$vector-icons-path = pathjoin($images-path, 'vector-icons')

// paths }}}1

// sizes {{{1

$min-width = 1000px
$max-width = 1600px
$max-content-page-width = 1400px
$max-content-block-width = 860px
$head-block-min-height = 347px
$catalog-menu-height = 101px
$footer-height = 105px
$shadow-width = 250px

// sizes }}}1

// colors {{{1

$bg-color = black
$text-color = white
$text-color2 = #ffd66d

$bg-invert-color = #ffda63
$text-invert-color = #3b3219
$text-invert-color2 = black

$link-text-color = $text-color
$link-line-color = #4e504f
$link-hover-text-color = #f2d256
$link-hover-line-color = #493f19

$link-text-color2 = #3b3219
$link-line-color2 = #b29845
$link-hover-text-color2 = #e18501
$link-hover-line-color2 = #f1c75f

// colors }}}1

// fonts {{{1

$font-family = Arial, Helvetica, sans-serif
$font-size = 16px
$line-height = 23px

$font = $font-size\/$line-height $font-family

// fonts }}}1

// animations {{{1

$animation-speed = .2s
$animation-curve = ease-in

// animations }}}1
