.panel-heading= local.get('sections').pages.pages_list
table.table
	thead
		tr
			th= local.get('sections').pages.id
			th= local.get('sections').pages.name
			th= local.get('sections').pages.url
	tbody
