.panel-heading= local.get('sections').pages_list.pages_list
table.table
	thead
		tr
			th= local.get('sections').pages_list.id
			th= local.get('sections').pages_list.name
			th= local.get('sections').pages_list.url
	tbody
